#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
nav {
  display: flex;
  gap: 1em;
  margin-bottom: 4rem;
  border-bottom: 1px solid #ccc;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-list-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-list-title {
  text-align: center;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.products > img {
  margin-right: 10px;
  width: 240px;
  height: 135px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > span {
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  color: "dodgerblue";
}

.pagination-selected {
  background: lightgray;
}

.pagination-disabled {
  opacity: 0;
}

.button {
  background: #8c54ff;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  padding: 10px 15px;
  transition: transform 100ms ease-out;

  &:hover {
    background: #682ede;
    transform: scale(1.1);
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  color: #000;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 10px;
  min-width: 320px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modalTitle,
.closeButton {
  font-size: 20px;
  font-weight: 600;
}

.closeButton {
  cursor: pointer;
}
